<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" {{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet"/>
    <title>JavaScript</title>
    
</head>
<body >
    <h2> Login Successful!</h2>
    <p> Welcome <span id="displayname">Hello</span></p>
    <script>
        document.getElementById("displayName").innerHTML("NAME")
    </script>
    
</body>
</html>